In [1]:
import pandas as pd

In [2]:
file_path = 'superstore.xlsx'
orders_data = pd.read_excel(file_path,sheet_name="Orders")

In [3]:
orders_data.head()

,Customer Name,Customer ID,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,Maureen Stout,3146,19194,Critical,0.07,3.71,1.93,Express Air,Corporate,Office Supplies,...,Central,Texas,Pharr,78577,2015-01-04,2015-01-06,6.3308,11,39.64,85850
1,Wayne Bass,2548,6525,Low,0.00,35.99,0.99,Regular Air,Small Business,Technology,...,West,California,Los Angeles,90068,2015-04-04,2015-04-11,840.0510,46,1477.57,46436
2,Joan Bowers,2551,24525,Low,0.00,35.99,0.99,Regular Air,Small Business,Technology,...,East,Pennsylvania,York,17403,2015-04-04,2015-04-11,265.9605,12,385.45,88656
3,Fred Barber,2976,19599,Medium,0.01,35.99,0.99,Regular Air,Small Business,Technology,...,Central,Wisconsin,Oak Creek,53154,2015-05-22,2015-05-23,882.4824,41,1278.96,89047
4,Paul W French,2817,24045,High,0.04,55.99,1.25,Express Air,Corporate,Technology,...,East,Ohio,Newark,43055,2015-06-01,2015-06-02,-18.3216,3,147.56,89743

In [4]:
#step 1: DataSet Overview
print("Dataset OVerview")
print(f'Total Rows: {orders_data.shape[0]}')
print(f'Total Columns: {orders_data.shape[1]}')
print(f'Columns with  Missing Values:\n{orders_data.isnull().sum()}\n')

Dataset OVerview
Total Rows: 1952
Total Columns: 25
Columns with  Missing Values:
Customer Name            0
Customer ID              0
Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [5]:
#step 2 : Summary Satatics for Numerical Colums
numerical_summary = orders_data.describe()
print("summary Statistics (Numerical Data):")
print(numerical_summary)

summary Statistics (Numerical Data):
       Customer ID        Row ID     Discount   Unit Price  Shipping Cost  \
count  1952.000000   1952.000000  1952.000000  1952.000000    1952.000000
mean   1735.376537  19916.479508     0.048975   109.079221      12.968151
min       3.000000     64.000000     0.000000     1.140000       0.490000
25%     875.000000  19121.000000     0.020000     6.480000       3.230000
50%    1738.000000  21164.500000     0.050000    20.990000       6.150000
75%    2578.250000  23483.250000     0.080000   100.972500      14.362500
max    3403.000000  26389.000000     0.210000  6783.020000     164.730000
std     991.078006   5957.595627     0.031378   393.481301      17.414631

       Product Base Margin   Postal Code                     Order Date  \
count          1936.000000   1952.000000                           1952
mean              0.515186  51534.769467  2015-03-29 01:21:08.852459008
min               0.350000   1001.000000            2015-01-01 00:00:00
25%               0.380000  28560.000000            2015-02-11 00:00:00
50%               0.525000  48765.500000            2015-03-27 12:00:00
75%               0.590000  78550.000000            2015-05-15 00:00:00
max               0.850000  99362.000000            2015-06-30 00:00:00
std               0.137055  29362.828420                            NaN

                           Ship Date        Profit  Quantity ordered new  \
count                           1952   1952.000000           1952.000000
mean   2015-03-30 23:55:34.426229504    114.793859             12.944672
min              2015-01-02 00:00:00 -16476.838000              1.000000
25%              2015-02-13 00:00:00    -84.485400              5.000000
50%              2015-03-29 00:00:00      1.476450             10.000000
75%              2015-05-16 00:00:00    116.201575             16.000000
max              2015-07-08 00:00:00   9228.225600            167.000000
std                              NaN   1141.112387             13.871565

              Sales      Order ID
count   1952.000000   1952.000000
mean     985.828832  82365.924180
min        2.250000    359.000000
25%       58.807500  86767.750000
50%      202.395000  88376.000000
75%      802.945000  89957.000000
max    45737.330000  91586.000000
std     2559.900167  19042.295798

In [6]:
#step : Handling Missing Values
print("Handling Missing Values")
missing_values = orders_data.isnull().sum()
if missing_values.any():
    print(f'Missing values detected:\n{missing_values}\n')
    #example of finlling missing values with mean (otional)
    orders_data['Product Base Margin'].fillna(orders_data['Product Base Margin'].mean(),inplace = True)
    print("Missing values in 'product base margin' column filled with the mean")
else:
    print("No missing values detected.\n")

Handling Missing Values
Missing values detected:
Customer Name            0
Customer ID              0
Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

Missing values in 'product base margin' column filled with the mean

In [7]:
orders_data.isnull().sum()

Customer Name           0
Customer ID             0
Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Country                 0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
dtype: int64

In [8]:
#step 4:Descriptive Analysis
print("Descriptive Analysis")
overall_metrics = {
    "Total Sales": orders_data['Sales'].sum(),
    "Total Profit": orders_data['Profit'].sum(),

    "Average Discount": orders_data['Discount'].mean(),
    "Average Sales": orders_data['Sales'].mean(),

    "Total Profit": orders_data['Profit'].mean(),
    "Total Orders": len(orders_data)

}
print(overall_metrics)

Descriptive Analysis
{'Total Sales': 1924337.88, 'Total Profit': 114.79385852313011, 'Average Discount': 0.048975409836065575, 'Average Sales': 985.8288319672131, 'Total Orders': 1952}

In [9]:
#Breakdown by product Category
category_metrics = orders_data.groupby("Product Category").agg(
    Total_Sales = ("Sales","sum"),
    Average_Sales = ("Sales",'mean'),
    Total_Profit = ("Profit",'sum'),
    Avergage_Profit = ('Profit','mean'),
    Average_Discount =("Discount",'mean'),
    Total_Orders=("Order ID",'count'),

).sort_values(by='Total_Sales',ascending=False)
print('\nMetrics by Product Category')
print(category_metrics)

Metrics by Product Category
                  Total_Sales  Average_Sales  Total_Profit  Avergage_Profit  \
Product Category
Technology          712264.95    1480.800312  75303.156364       156.555419
Furniture           660704.31    1651.760775  59249.445936       148.123615
Office Supplies     551368.62     514.816639  89525.009537        83.590112

                  Average_Discount  Total_Orders
Product Category
Technology                0.047755           481
Furniture                 0.049800           400
Office Supplies           0.049216          1071

In [13]:
#step : Time series Analysis
orders_data['Order Data'] = pd.to_datetime(orders_data['Order Date'])
time_series_sales = orders_data.groupby(orders_data['Order Date'].dt.to_period('M')).agg(
    Total_Sales = ("Sales",'sum'),
    Total_Profit= ("Profit",'sum')

)
print('\nMonthly Sales and Profit Trends:')
print(time_series_sales)

Monthly Sales and Profit Trends:
            Total_Sales  Total_Profit
Order Date
2015-01       274766.92   1043.677500
2015-02       326101.47  35944.658780
2015-03       271696.67    103.159587
2015-04       389831.95  53146.412502
2015-05       306572.07  67002.732858
2015-06       355368.80  66836.970610

In [15]:
#step 6: top products adn customers 
top_products = orders_data.groupby("Product Name").agg(
    Total_Sales = ("Sales",'sum'),
    Total_Profit= ("Profit",'sum')
).sort_values(by='Total_Sales',ascending=False).head(10)

top_customers = orders_data.groupby("Customer Name").agg(
    Total_Sales = ("Sales",'sum'),
    Total_Profit= ("Profit",'sum')
).sort_values(by='Total_Sales',ascending=False).head(10)


print("\n Top 10 products by Sales")
print(top_products)

print("\n Top 10 Customers by Sales")
print(top_customers)

 Top 10 products by Sales
                                                    Total_Sales  Total_Profit
Product Name
Fellowes PB500 Electric Punch Plastic Comb Bind...     69013.48  23865.904200
Lexmark 4227 Plus Dot Matrix Printer                   61071.73   3700.374200
Global Troy™ Executive Leather Low-Back Tilter         50871.21  18628.145300
Okidata ML395C Color Dot Matrix Printer                47611.09   7709.310000
Polycom ViewStation™ ISDN Videoconferencing Unit       46538.69 -27621.245408
Economy Rollaway Files                                 35607.28   2481.442000
Smead Adjustable Mobile File Trolley with Locka...     23995.11   9906.619900
Hon 4700 Series Mobuis™ Mid-Back Task Chairs wi...     22554.43   5128.180000
SAFCO PlanMaster Heigh-Adjustable Drafting Tabl...     21253.25    846.567900
Riverside Palais Royal Lawyers Bookcase, Royale...     20915.17  -4612.141400

 Top 10 Customers by Sales
                   Total_Sales  Total_Profit
Customer Name
Kristine Connolly     50475.31     3427.3460
Nina Horne Kelly      48295.12     8533.4256
Toni Swanson          32194.12     1893.4200
Rosemary O'Brien      29916.01     4234.9720
Yvonne Mann           28779.13     1928.1800
Lee Xu                20640.35       32.6760
Erin Ballard          20565.99     3678.9600
Tammy Raynor          18642.71     2460.3160
Neal Wolfe            17390.24     2280.9590
Andrew Levine         16792.21      313.4900

In [ ]:
import matplotlib.pyplot as plt

#stem